@model ProductModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Id">
        <label>Dosya Seçiniz</label>
        <input type="file" name="formFile"><br>
        <button type="submit">Ekle</button>
    </form>
    <div>
        <a asp-action="Index" asp-controller="Home">Geri Dön</a>
    </div>
</body>

</html>